[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
alembic = "==1.0.0"
"asn1crypto" = "==0.24.0"
blinker = "==1.4"
certifi = "==2018.4.16"
cffi = "==1.11.5"
chardet = "==3.0.4"
click = "==6.7"
cryptography = "==2.3"
"enum34" = "==1.1.6"
flask = "==1.0.2"
flask-login = "==0.4.1"
flask-mail = "==0.9.1"
flask-pagedown = "==0.2.2"
flask-script = "==2.0.6"
flask-sqlalchemy = "==2.3.2"
idna = "==2.7"
ipaddress = "==1.0.22"
itsdangerous = "==0.24"
mako = "==1.0.7"
pika = "==0.12.0"
pycparser = "==2.18"
python-dateutil = "==2.7.3"
python-editor = "==1.0.3"
qiniu = "==7.2.2"
requests = "==2.19.1"
simplejson = "==3.16.0"
six = "==1.11.0"
"urllib3" = "==1.23"
werkzeug = "==0.15.3"
wtforms = "==2.2.1"
Flask-Migrate = "==2.2.1"
Flask-Moment = "==0.6.0"
"Jinja2" = "==2.10"
MarkupSafe = "==1.0"
PyMySQL = "==0.9.2"
SQLAlchemy = "==1.2.10"
redis = "*"

[requires]
python_version = "3.7"
